<h1>Editing Oscare Female Winner</h1>

<%= render 'form', oscare_female_winner: @oscare_female_winner %>

<%= link_to 'Show', @oscare_female_winner %> |
<%= link_to 'Back', oscare_female_winners_path %>
